<%= render :partial => 'common/header' %>

<div class="content search">
  <div class="bar bar-standard bar-header-secondary mt10">
    <form action="/search" method="GET">
      <input type="text" name="keyword" placeholder="Search">
    </form>
  </div>
  <div class="mt60">
    <% if not @keyword.nil? %>
      <% if @coupons.size + @activities.size + @shops.size == 0 %>
        <div class="text-center">
          <%= fa_icon "frown-o", :class => 'feature-icon' %>
        </div>
        <div class="text-center text-hint">
          没有搜素到相应结果
        </div>
      <% else %>
        <div class="common-cardlist">
          <ul class="table-view no-border">
            <% @coupons.each do |coupon| %>
              <%= render :partial => 'coupons/listitem', :locals => { coupon: coupon } %>
            <% end %>

            <% @activities.each do |activity| %>
              <%= render :partial => 'activities/listitem', :locals => { activity: activity } %>
            <% end %>

            <% @shops.each do |shop| %>
              <%= render :partial => 'shops/listitem', :locals => { shop: shop } %>   
            <% end %>

            <% @items.each do |item| %>
              <%= render :partial => 'items/listitem', :locals => { item: item } %>   
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">
        <%= fa_icon "binoculars", :class => 'feature-icon' %>
      </div>
    <% end %>
  </div>
</div>


<%= render :partial => 'common/nav', :locals => { section: 'search' } %>