<%= render :partial => 'common/header' %>

<div class="content">
  <ul class="table-view">
    <% @coupons.each do |coupon| %>
    <li class="table-view-cell media">
      <a class="navigate-right" href="<%= coupon_path(coupon) %>" data-transition="slide-in">
        <div class="media-body">
          <%= coupon.title %>
          <%= image_tag coupon.feature_image.url(:middle) %>
          <p><%= coupon.subtitle %></p>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>


<%= render :partial => 'common/nav', :locals => { section: 'coupons' } %>