<%= render :partial => 'common/header', :locals => { :back_left => true, :section => 'coupons' } %>


<div class="content">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @coupon.title %>
  </p>

  <p>
    <%= @coupon.detail %>
  </p>

  <p>
    <form action="<%= consume_coupon_path(@coupon) %>" method="POST">
      <div>
        <input type="text" name="phone_number" placeholder="Phone Number">
      </div>
      <div>
        <input type="submit" value="提交">
      </div>
    </form>
  </p>
</div>

