<%= render :partial => 'common/header' %>

<div class="content">
  <ul class="table-view">
    <% @activities.each do |activity| %>
    <li class="table-view-cell media">
      <a class="navigate-right" href="<%= activity_path(activity) %>" data-transition="slide-in">
        <div class="media-body">
          <%= activity.title %>
          <%= image_tag activity.feature_image.url(:middle) %>
          <p><%= activity.summary %></p>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>


<%= render :partial => 'common/nav' %>